
@{
    ViewBag.Title = "AddWardPreAuthorizationDetails";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<script type="text/javascript">
     function gettoken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
   }
    $(document).ready(function () {
        $('#path').html('<a href="@Url.Action("WardPreAuthorizationDetails", "PreAuthorization")">Room Type Change Request</a> / Change Room Type');

        var month_name = function(dt){
        mlist = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
        return mlist[dt.getMonth()];
        };

        var InvoiceNo;
        var transactionID;
        $('#lblClinDoc').hide();
        $('#divDoc').hide();
        $('#lblDoc').hide();
        $('#DocFile').hide();
        $('#divPrevDoc').hide();
        if (localStorage.getItem('PreAuthRequestInfo') != null) {
               var PackageInfo = JSON.parse(localStorage.getItem('PreAuthRequestInfo'));
               var params = {
                    HospitalCode: '@Session["HospitalCode"]'
               };
               $.ajax({
                 url: ServiceURL + "/api/Hospital/GetHospitalInformation",
                     type: "GET",
                     data: params,
                     dataType: "json",
                     contentType: "application/json; charset=utf-8",
                     success: function (data) {
                         $("#hdState").html(data.hospitalState);
                         $("#hdDistrict").html(data.hospitalDistrict);
                         $("#hdHospitalCode").html(data.hospitalCode);
                         $("#HdName").html(data.hospitalname);
                         if (PackageInfo[0].preAuthStatus == "Rejected") {
                             $('#lblClinDoc').show();
                             $('#divDoc').show();
                             $('#lblDoc').show();
                             $('#DocFile').show();
                             $('#divPrevDoc').show();
                             $('#btnSubmit').val('Request');
                         }
                                  // console.log(data);
                              },
                     error: function (error) {
                                  console.log(error.statusText);
                     }
               });
            var Year = new Date().getUTCFullYear();
            var Month = month_name(new Date());
            var DocName = PackageInfo[0].preAuthDoc;
            //'Year'/'Month'/PreAuthDocument/'PackageInfo[0].preAuthDoc';
            var PrevPath = '../UploadDocument/@Session["HospitalCode"]/'+Year+'/'+Month+'/PreAuthDocument/'+DocName+'';
            $("#aPrevDoc").attr("href", PrevPath);
            $("#aPrevDoc").html(PackageInfo[0].preAuthDoc);
            $('#divPreStatus').html(PackageInfo[0].preAuthStatus);
            $('#urnNum').html(PackageInfo[0].urn);
            $('#patientNm').html(PackageInfo[0].memberName);
            $('#headOfFamily').html(PackageInfo[0].headMemberName);
            //MembrId = PackageInfo[0].headMemberID;
            //SchemeC = PackageInfo[0].schemeCode;
            $('#regDate').html(PackageInfo[0].registrationDate);
            //MemberName=PackageInfo[0].memberName;
            $('#state').html(PackageInfo[0].memberStateName);
            $('#stateCode').html(PackageInfo[0].memberStateCode);
            $('#district').html(PackageInfo[0].memberDistrictName);
            $('#districtCode').html(PackageInfo[0].memberDistrictCode);
            $('#memberBlockCode').html(PackageInfo[0].memberBlockCode);
            $('#panchayatCode').html(PackageInfo[0].panchayatCode);
            $('#villageCode').html(PackageInfo[0].villageCode);
            $('#PackHeader').html('<b>' + PackageInfo[0].procedureName + '</b>');
            $('#PackCat').html('<b>' + PackageInfo[0].category + '</b>');
            $('#PackDtls').html('<b>' + PackageInfo[0].packageName + '</b>');
            $('#WardDtls').html('<b>' + PackageInfo[0].ward + '</b>');
            $('#Cost').html('<b>' + PackageInfo[0].amoutBlocked + '</b>');
            $('#amnt').html('<b>' + PackageInfo[0].amount + '</b>');
            $('#WardLogId').html(PackageInfo[0].wardLogId);
            transactionID = PackageInfo[0].transactionID;
            InvoiceNo = PackageInfo[0].invoiceNo;
            var date1_ms = new Date(PackageInfo[0].registrationDate).getTime();
            var date2_ms = new Date().getTime();
            var difference_ms = date2_ms - date1_ms;
            difference_ms = difference_ms / 1000;
            difference_ms = difference_ms / 60;
            difference_ms = difference_ms / 60;
            var days = Math.floor(difference_ms / 24);
            $('.datepicker').datepicker({
                format: 'dd M yyyy',
                startDate: '-' + days + 'd',
                endDate: 'today',
                autoclose: true
            }); //code for datepicker
            if (PackageInfo[0].preAuthStatus == "Rejected") {
                $(".datepicker").datepicker("setDate", (PackageInfo[0].wardBlockingDate));
            }
            else {
                 $(".datepicker").datepicker("setDate", (PackageInfo[0].wardBlockingDate));
            }

            $("#blockingDt").attr("disabled", "disabled");
        }

        $('#fuUploadDocument').on('change', function (e) {
            if (!ValidateFile('fuUploadDocument', 'Valid Document')) {
                return false;
            };
            if (!CheckFileType('fuUploadDocument', '1')) {
                return false;
            };
        });
        var PackCatagoryParams = {
            Action: 'P1'
        };
        $.ajax({
            url: ServiceURL + "/api/Common/GetPackageCategory",
            type: "GET",
            data: PackCatagoryParams,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                // console.log(data);
                $('#PApackageHeader').empty().append('<option selected="selected" value="0">--select--</option>');
                $.each(data, function (index, item) {
                    $('#PApackageHeader').append($("<option></option>").val(item.id).html(item.procedures));
                });
            },
            error: function (error) {
                console.log(error.statusText);
            }
        });
        $('#PApackageHeader').change(function () {

            var PackageParams = {
                Action: 'CP',
                PackageCategoryCode: $('#PApackageHeader').val()
            };
            $.ajax({
                url: ServiceURL + "/api/Common/GetPackage",
                type: "GET",
                data: PackageParams,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    arrPackageDtls = [];
                    arrPackageDtls.push(data);
                    // console.log(data);
                    $('#PApackageDetail').empty().append('<option selected="selected" value="0">--select--</option>');
                    $.each(data, function (index, item) {
                        $('#PApackageDetail').append($("<option></option>").val(item.id).text(item.packageName));
                    });
                },
                error: function (error) {
                    console.log(error.statusText);
                }
            });
        });
        $('#btnBack').click(function () {
             window.location.href = '@Url.Action("WardPreAuthorizationDetails", "PreAuthorization")';
        });

        $('#PApackageDetail').change(function () {
            if (arrPackageDtls.length > 0) {
                arrPackageDtls[0].forEach(function (cost) {
                    //console.log(cost);
                    if (cost.id == $('#PApackageDetail').val()) {
                        $('#PAtreatmentCost').val(cost.amount);
                        $('#lblPackageCode').text(cost.packageCategoryCode);
                    }
                });
            }
        });
        $('#btnSubmit').click(function () {
            if (validate()) {
                if ($('#btnSubmit').val() == 'Request') {
                    if (checkconfirmReq()) {
                        $('#divLoader').show();
                        var fileUpload = $("#fuDocFile").get(0);
                        var files = fileUpload.files;
                        var PreAuthPackageParams = new FormData();
                        if (files.length > 0) {
                            PreAuthPackageParams.append("VchFile", files[0]);
                        }
                        PreAuthPackageParams.append("__RequestVerificationToken", gettoken());
                        PreAuthPackageParams.append("ACTIONCODE", 'D');
                        PreAuthPackageParams.append("BlockinguserDate", $('#blockingDt').val());
                        PreAuthPackageParams.append("WardLogId", $('#WardLogId').text());
                        PreAuthPackageParams.append("URN", $('#urnNum').text());
                         $.ajax({
                             url: '@Url.Action("AddWardPreAuthorizationDetails", "PreAuthorization")',
                             type: "POST",
                             data: PreAuthPackageParams,
                             processData: false,
                             contentType: false,
                             success: function (data) {
                               $('#divLoader').hide();
                             if (data == "1")  {
                                alert('Package Request Raised Successfully for Approval!!');
                                window.location.href = '@Url.Action("WardPreAuthorizationDetails", "PreAuthorization")';
                                }
                             },
                             error: function (error) {
                              $('#divLoader').hide();
                                console.log(error.statusText);
                             }
                         });
                    }
                }
                else {
                    if (checkconfirm()) {
                        $('#divLoader').show();
                        var BlockPkgParams = JSON.stringify({
                            ACTION: 'C',
                            transactionID: transactionID,
                            BlockinguserDate: $('#blockingDt').val(),
                            WardLogId: $('#WardLogId').text(),
                            Amount: $('#amnt').text(),
                            VchFileName:''
                        });
                        $.ajax({
                            url: ServiceURL + "/api/BlockPackage/addWardpreAuthPackage",
                            type: "POST",
                            data: BlockPkgParams,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                $('#divLoader').hide();
                                if (data == "1") {
                                    alert('Package Blocked Successfully !!');
                                    window.location.href = '@Url.Action("WardPreAuthorizationDetails", "PreAuthorization")';
                                }
                                else if (data == "3") {
                                alert('Cannot Change Ward. Please Check Previous Details Change Date!!');
                                }
                            },
                            error: function (error) {
                                $('#divLoader').hide();
                                console.log(error.statusText);
                            }
                        });

                    }
                }
            }
        });
        $('#fuDocFile').on('change', function (e) {
            if (!ValidateFile('fuDocFile', 'Valid Document')) {
                return false;
            };
            if (!CheckFileType('fuDocFile', '1')) {
                return false;
            };
        });
    });
    function checkconfirm() {
        if (window.confirm("Are you sure to block the package?")) {
            return true;
        }
        else {
            return false;
        }
    }
    function ValidatePackage() {
            if ($('#PApackageHeader').val() == 0) {
                alert('Please Select Package Header!!');
                $('#PApackageHeader').focus();
                return false;
            }
            else if ($('#PApackageDetail').val() == 0) {
                alert('Please Select Package Detail!!');
                $('#PApackageDetail').focus();
                return false;
            }
            else if ($('#PAtreatmentCost').val()=="") {
                alert('Please Enter Treatment Cost!!');
                $('#PAtreatmentCost').focus();
                return false;
            }
            else if (checkconfirm() == false) {
                return false;
            }
            else {
                return true;
            }
        //}
        //else if (ptype == 3) {

        //}
        //else {
        //    alert('Please Select Package Type!!');
        //}

    }
    function checkDec(evt) {
        if (!(evt.keyCode == 46 || (evt.keyCode >= 48 && evt.keyCode <= 57))) return false;
        var parts = evt.srcElement.value.split('.');
        if (parts.length > 2) return false;
        if (evt.keyCode == 46) return (parts.length == 1);
        if (parts[0].length >= 14) return false;
        if (parts.length == 2 && parts[1].length >= 2) return false;
    }
    function checkChar(event) {
        var inputValue = event.which;
        // allow letters and whitespaces only.
        if (!(inputValue >= 65 && inputValue <= 120) && (inputValue != 32 && inputValue != 0)) {
            event.preventDefault();
        }
    }
    function ValidateFile(cntr, strText) {

        var strValue = $('#' + cntr).get(0).files.length;
        if (strValue == "0") {
            alert("Please upload " + strText);
            return false;
        }
        else
            return true;
    }
    function CheckFileType(cntr, ftype) {

        // Get the file upload control file extension
        var extn = $('#' + cntr).val().split('.').pop().toLowerCase();
        if (extn != '') {

            // Create array with the files extensions to upload
            var fileListToUpload;
            if (parseInt(ftype) == 1)
                fileListToUpload = new Array('pdf', 'gif', 'jpg', 'jpeg');
            else if (parseInt(ftype) == 2)
                fileListToUpload = new Array('gif', 'jpg', 'jpeg');
            else
                fileListToUpload = new Array('pdf');

            //Check the file extension is in the array.
            var isValidFile = $.inArray(extn, fileListToUpload);

            // isValidFile gets the value -1 if the file extension is not in the list.
            if (isValidFile == -1) {
                if (parseInt(ftype) == 1)
                    alert('Please upload a valid document of type pdf/gif/jpg/jpeg.!!!');
                else if (parseInt(ftype) == 2)
                    alert('Please upload a valid document of type gif/jpg/jpeg.!!!');
                else
                    alert('Please Upload a valid document !!!');
                $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
            }
            else {
                // Restrict the file size to 2MB(1024 * 2048;)
                if ($('#' + cntr).get(0).files[0].size > (1024 * 2048)) {
                    alert('Document size should not exceed 2MB.!!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
                if ($('#' + cntr).get(0).files[0].name.length > 100) {
                    alert('Document Name should be maximum 100 Characters !!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
                else
                    return true;
            }
        }
        else
            return true;
    }
    function validate() {
        if ($('#blockingDt').val() == "") {
            alert('Please Enter Blocking Date!!');
            $('#blockingDt').focus();
            return false;
        }
        else if ($('#divPreStatus').text() == "Rejected")
        {
            if ($('#fuDocFile').val() == "") {
                alert('Please upload Document !!');
                $('#fuDocFile').focus();
                return false;
               }
              else {
                   return true;
                   }
        }
        else {
            return true;
             }
    }
    function ValidateFile(cntr, strText) {

        var strValue = $('#' + cntr).get(0).files.length;
        if (strValue == "0") {
            alert("Please upload " + strText);
            return false;
        }
        else
            return true;
    }
    function CheckFileType(cntr, ftype) {

        // Get the file upload control file extension
        var extn = $('#' + cntr).val().split('.').pop().toLowerCase();
        if (extn != '') {

            // Create array with the files extensions to upload
            var fileListToUpload;
            if (parseInt(ftype) == 1)
                fileListToUpload = new Array('pdf', 'jpg', 'jpeg');
            else if (parseInt(ftype) == 2)
                fileListToUpload = new Array('gif', 'jpg', 'jpeg');
            else
                fileListToUpload = new Array('pdf');

            //Check the file extension is in the array.
            var isValidFile = $.inArray(extn, fileListToUpload);

            // isValidFile gets the value -1 if the file extension is not in the list.
            if (isValidFile == -1) {
                if (parseInt(ftype) == 1) {
                    alert('Please upload a valid document of type pdf/jpg/jpeg.!!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
                else if (parseInt(ftype) == 2) {
                    alert('Please upload a valid document of type gif/jpg/jpeg.!!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
                else {
                    alert('Please Upload a valid document !!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
            }
            else {
                // Restrict the file size to 2MB(1024 * 2048;)
                if ($('#' + cntr).get(0).files[0].size > (200000)) {
                    alert('Document size should not exceed 200KB.!!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
                if ($('#' + cntr).get(0).files[0].name.length > 100) {
                    alert('Document Name should be maximum 100 Characters !!!');
                    $('#' + cntr).replaceWith($('#' + cntr).val('').clone(true));
                }
                else
                    return true;
            }
        }
        else
            return true;
    }
    function checkconfirmReq() {
        if (window.confirm("Are you sure for request package?")) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-12 pb-3">
            <div class="card">
                <div class="data-info">
                    <div class="row">
                        <div class="col">
                            <h2>Hospital Details</h2>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>State</p>
                                    <h3 id="hdState"></h3>
                                </div>
                                <div class="col-sm-3">
                                    <p>District</p>
                                    <h3 id="hdDistrict"></h3>
                                </div>
                                <div class="col-sm-3">
                                    <p>Hospital Code</p>
                                    <h3 id="hdHospitalCode"></h3>
                                </div>
                                <div class="col-sm-3">
                                    <p>Name</p>
                                    <h3 id="HdName"></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <h2>Member Info</h2>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>URN Number</p>
                                    <h3 id="urnNum"></h3>
                                    <div id="memberBlockCode" style="visibility:hidden"></div>
                                    <div id="divPreStatus" hidden></div>
                                </div>
                                <div class="col-sm-6">
                                    <p>Patient Name</p>
                                    <h3 id="patientNm"></h3>                                    
                                </div>
                                <div class="col-sm-3" hidden>
                                    <p>Head of Family</p>
                                    <h3 id="headOfFamily"></h3>
                                    <h3 id="headOfFamilyID" style="visibility:hidden"></h3>
                                </div>
                                <div class="col-sm-3" hidden>
                                    <p>State</p>
                                    <h3 id="state"></h3>
                                    <h3 id="stateCode" style="visibility:hidden"></h3>
                                    <div id="panchayatCode" style="visibility:hidden"></div>
                                </div>
                                <div class="col-sm-3" hidden>
                                    <p>District</p>
                                    <h3 id="district"></h3>
                                    <h3 id="districtCode" style="visibility:hidden"></h3>
                                    <div id="villageCode" style="visibility:hidden"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="card-body">
                    <div class="custom-tab-content px-3">
                        <div>
                            <form>
                                <div class="form-group row">
                                    <label for="packageHeader" class="col-sm-2 col-form-label">Package Header</label>
                                    <div class="col-sm-2">
                                        <span id="PackHeader" class="form-control"></span>
                                        <span id="WardLogId" class="form-control" hidden></span>
                                    </div>
                                    <label for="packageDetail" class="col-sm-2 col-form-label">Category</label>
                                    <div class="col-sm-2">
                                        <span id="PackCat" class="form-control"></span>
                                    </div>
                                    <label for="packageDetail" class="col-sm-2 col-form-label">Package Detail</label>
                                    <div class="col-sm-2">
                                        <span id="PackDtls" class="form-control"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="WardDetail" class="col-sm-2 col-form-label noPrint" id="lblWardDtls">Ward Detail <b><span style="color:red">*</span></b></label>
                                    <div class="col-sm-2 noPrint" id="divWardDtls">
                                        <span id="WardDtls" class="form-control"></span>
                                    </div>
                                    <label for="treatmentCost" class="col-sm-2 col-form-label">Treatment Cost (Rs.)</label>
                                    <div class="col-sm-2">
                                        <span id="amnt" class="form-control"></span>
                                    </div>
                                    @*</div>
                                        <div class="form-group row">*@
                                    <label for="blockingDt" class="col-sm-2 col-form-label" id="lblBlockingDt">Blocking Date <b><span style="color:red">*</span></b></label>
                                    <div class="col-sm-2">
                                        <div class="input-group mb-3">
                                            <input type="text" id="blockingDt" class="form-control datepicker" placeholder="dd mmm yyyy" aria-label="Username" aria-describedby="basic-addon1">
                                            <div class="input-group-prepend">
                                                <label for="blockingDt" class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-2" id="lblDoc">
                                        <label for="packageHeader" class="col-form-label noPrint">Document <b><span style="color:red">*</span></b></label>
                                    </div>
                                    <div class="col-sm-2 noPrint" id="DocFile">
                                        <input type="file" id="fuDocFile" />
                                        <span style="font-weight: bold; color: Green">Max file size is 200KB</span><br />
                                        <span style="font-weight: bold; color: Green">Only pdf,jpg,jpeg document allowed</span>
                                    </div>
                                </div>
                                <div class="form-group row" id="divPrevDoc">
                                    <div class="col-sm-2" id="lblPrevDoc">
                                        <label for="packageHeader" class="col-form-label noPrint">Previous Document <b><span style="color:red">*</span></b></label>
                                    </div>
                                    <div class="col-sm-2 noPrint" id="PrevDocFile">
                                        <a href="" target="_blank" id="aPrevDoc">Document</a>
                                    </div>
                                </div>
                                @*<div class="col-sm-2" id="lblClinDoc">
                                        <label for="packageDetail" class="col-form-label noPrint">Clinical Doc</label>
                                    </div>
                                    <div id="divDoc" class="col-sm-2 noPrint"></div>
                                    <div class="col-sm-2" id="lblDoc">
                                        <label for="packageHeader" class="col-form-label noPrint">Document <b><span style="color:red">*</span></b></label>
                                    </div>
                                    <div class="col-sm-2 noPrint" id="DocFile">
                                        <input type="file" id="fuDocFile" />
                                        <span style="font-weight: bold; color: Green">Max file size is 200KB</span><br />
                                        <span style="font-weight: bold; color: Green">Only pdf,jpg,jpeg document allowed</span>
                                    </div>*@


                                @*<div class="table table-striped table-bordered" id="jsGrid">
                                    </div>*@
                                <div class="text-right py-3">
                                    <button type="button" class="btn btn-outline-danger my-2 my-sm-0" id="btnBack"> <i class ="fa fa-angle-left"></i> Back </button>
                                    <input class="btn btn-outline-success my-2 my-sm-0" type="button" value="Submit" id="btnSubmit">
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="loader" id="divLoader" style="display:none">
    <div class="center">
        <img src="~/imgs/DataLoading.gif" alt="Loader..." />
    </div>
</div>
<!-- Body content Ends here -->
<!-- START HERE: Registration confirmation modal content -->
<div class="modal fade" id="admissionConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="alert text-info" role="alert">
                    Are you sure want to Register ?
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">NO</button>
                    <a href="javascript: void(0);" class="btn btn-outline-success btn-sm ml-1">YES</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END HERE: Registration confirmation modal content -->
<script type="text/javascript">
    $(function () {
        $('.secondary-menu li a').tooltip();
    });
</script>






