@{
    ViewBag.Title = "AddDischarge";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
@Scripts.Render("~/bundles/discharge")
<!-- Dashboard Body content part starts -->
<div class="container">
    <div class="card-body">
        <div class="form-box-bg mb-4">
            <ul class="nav nav-tabs custom-tab mb-4">
                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("AddDischarge", "Discharge")"> Add </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="@Url.Action("ViewReferalDischarge", "Discharge")"> View </a>
                </li>

            </ul>
            @*<div class="form-row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
                        <form>
                            <div class="pkg_grey">
                                <div class="form-row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 form-row">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left ght mb-2 mt-2 px-0">
                                            <div class="notes-right">
                                                <i class="fi-rr-comment-info"></i> <i> Before Discharge First Fill the Referal Form. </i>
                                            </div>
                                        </div>
                                    </div>reffer(this)
                                </div>
                            </div>
                        </form>
                    </div>
                </div*@
            <div class="col-md-12 p-0">
                <div class="form-row">
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="mb-4">
                            <label class="pkg-label mb-1">Admission From Date :</label>
                            <input type="text" id="txtFromDate" class="form-control datepicker" />
                        </div>
                    </div>
                    @*<input type="hidden" id="hospitalcode" value="@Session["HospitalCode"]" />*@
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="mb-4">
                            <label class="pkg-label mb-1">Admission To Date :</label>
                            <input type="text" id="txtToDate" class="form-control datepicker" />
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="mb-4">
                            <label class="pkg-label mb-1">Type :</label>
                            <select id="ddAdmissionDateType" class="form-control form-group">
                                <option value="A">Admission Date</option>
                                <option value="B">Blocking Date</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12 d-flex justify-content-start align-items-center">
                        <input class="btn btn-outline-success" type="button" value="Search" id="btnSearch">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="grdBlockPackage1" data-toggle="table" class="table table-striped preauth-tbl">
                </table>


                @*<table class="table table-striped preauth-tbl" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>URN</th>

                            <th>
                                <div class="prehed-bold"> Member Details </div>
                                <div class="prehed-small"> ID | Name </div>
                            </th>

                            <th>Case No</th>
                            <th>Admission Date</th>
                            <th>Blocking Date</th>
                            <th>Contact No</th>
                            <th> Action </th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>26061211365</td>
                            <td>
                                <b class="text-success"> 59776523 </b>
                                <div class="pre-bold"> Sri Sudhanshu Sekhar Tripathy </div>
                            </td>


                            <td> CASE/27237006/16052023/005 </td>
                            <td> 16-May-23 </td>
                            <td> 16-May-23 </td>
                            <td> 9585758585</td>
                            <td>  <span class="badge badge-danger badge-font"> Pre-Auth Approval Pending</span> </td>
                        </tr>


                        <tr>
                            <td>2</td>
                            <td>26061211365</td>
                            <td>
                                <b class="text-success"> 59776523 </b>
                                <div class="pre-bold"> Sri Sudhanshu Sekhar Tripathy </div>
                            </td>


                            <td> CASE/27237006/16052023/005 </td>
                            <td> 16-May-23 </td>
                            <td> 16-May-23 </td>
                            <td> 9585758585</td>
                            <td>

                                <button type="button" class="btn btn-outline-success btn-sm">  Discharge </button>

                            </td>
                        </tr>


                        <tr>
                            <td>3</td>
                            <td>26061211365</td>
                            <td>
                                <b class="text-success"> 59776523 </b>
                                <div class="pre-bold"> Sri Rajendra Kumar Rout </div>
                            </td>


                            <td> CASE/27237006/16052023/005 </td>
                            <td> 16-May-23 </td>
                            <td> 16-May-23 </td>
                            <td> 9585758585</td>
                            <td>

                                <span class="badge badge-warning badge-font">  Admittted in Other Hospital </span>

                            </td>
                        </tr>



                    </tbody>
                </table>*@



            </div>

        </div>
    </div>
</div>

<!-- Body content Ends here -->
<script type="text/javascript">
    var arrDischargePackage = [];
    $(document).ready(function () {
        var d = new Date();
        var currentDate = d.getDate();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);
        var endDate = new Date(currYear, currMonth, currentDate);
        $("#txtFromDate").val(moment(startDate).format("DD-MMM-YY"));
        $("#txtToDate").val(moment(endDate).format("DD-MMM-YY"));

        getGridData();
        $('#path').html('Discharge List');
    });

    function getGridData() {
        var MemberinformationParams = {
            'Action': 'D',
            'Urn': null,
            'MemberId': null,
            'HospitalCode': '@Session["HospitalCode"]',
            'TransactionId': 0, 'FromDate': $('#txtFromDate').val(), 'ToDate': $('#txtToDate').val(),
            'AdmissionDateType': $('#ddAdmissionDateType').val()
        };
        MemberinformationParams = JSON.stringify(MemberinformationParams);
        $.ajax({
            url: ServiceURL + "/api/Common/GetUnblockinginformationByMemberNew",
            type: "POST",
            data: MemberinformationParams,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $("#loader").show();
            },
            success: function (response) {
                console.log("response", response);
                bindgrdBlockPackage1(response);
            },
            complete: function () {
                $('#loader').hide();
            },
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
    }

    function bindgrdBlockPackage1(uData) {
        $("#grdBlockPackage1").DataTable({
            bLengthChange: true,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            bDestroy: true,
            bFilter: true,
            bSort: true,
            autoWidth: false,
            bPaginate: true,
            data: uData,
            columns: [
                { data: 'id', type: "text", title: "Sl#", align: "center", render: function (data, type, row, meta) { return meta.row + meta.settings._iDisplayStart + 1; } },
                { data: "urn", type: "text", title: "URN", align: "left" },
               /* { data: "urn", type: "text", title: '<span style="width:5% !important;">"URN"</span>', align: "left" },*/
                {
                           /* data: "fullnameenglish",*/ type: "text", title: '<span><div class= "prehed-bold" > Member Details </div><div class="prehed-small"> ID | Name </div></span>',
                    align: "left",
                    render: function (data, type, row, meta) {
                        return '<td><b class="text-success">' + row.memberID + '</b><div class="pre-bold">' + row.memberName+ ' </div></td>'
                        console.log('data', data);
                    }
                },

                //{ data: "memberName", type: "text", title: "Member Name", align: "left" },
                //{ data: "memberID", type: "text", title: "Member Id", align: "left" },
                { data: "caseno", type: "text", title: "Case No", align: "left" },
                { data: "dateofadmission", type: "text", title: "Admission Date", align: "left" },
                { data: "blockingDate", type: "text", title: "Blocking Date", align: "left" }, //, className: "dt-body-center"
                { data: "patientContactNumber", type: "text", title: "Contact Number", align: "left" },
                {
                    data: "pendingpackages", type: "text", title: "Action", align: "center", render: function (data, type, row, meta) {
                        console.log("row.pendingpackages", row.pendingpackages);
                        if (row.pendingpackages != 0) {
                            var html = '<span class="badge badge-danger badge - font"> Pre-Auth Approval Pending</span>'
                        }
                        else if (row.discharge_flag == 'N') {
                            console.log("row.pendingpackages", row.discharge_flag);
                            var html = '<span class="badge badge-warning badge-font">Admitted in other hospital</span>'
                        }
                        else {
                            var html = "<button type='button' onclick='btnDischarge1(this)' class='btn btn-outline-success focused Btn btn-sm my-2 my-sm-0'>Discharge</button>"
                        }
                        return html;
                    }
                },
            ],
            //columnDefs: [
            //{
            //    targets: 6,
            //    data: null,
            //    title: "Action",
            //    defaultContent: "<button type='button' onclick='btnDischarge1(this)' class='btn btn-outline-success focusedBtn btn-sm my-2 my-sm-0'>Discharge</button>"
            //}]
        });
    }

    $("#btnSearch").click(function () {
        var fromDt = $("#txtFromDate").val();
        var toDt = $("#txtToDate").val();
        var from = "";
        var to = "";
        if (fromDt != "")
            from = new Date($("#txtFromDate").val());
        if (toDt != "")
            to = new Date($("#txtToDate").val());
        if (to != "" && from === "") {
            swal({
                text: "Please select From date",
                confirmButtonColor: "#36A865",
                type: "error",
                confirmButtonText: "OK",
                closeOnConfirm: false
            }).then(function () {
                $("#txtFromDate").focus();
            });
        }
        else if (from != "" && to === "") {
            swal({
                text: "Please select To date",
                confirmButtonColor: "#36A865",
                type: "error",
                confirmButtonText: "OK",
                closeOnConfirm: false
            }).then(function () {
                $("#txtToDate").focus();
            });
        }
        else if (from > to) {
            swal({
                text: "From date should not be greater than To date",
                confirmButtonColor: "#36A865",
                type: "error",
                confirmButtonText: "OK",
                closeOnConfirm: false
            }).then(function () {
                $("#txtFromDate").focus();
            });
        }
        else {
            getGridData();
        }
    });

    $(function () {
        $(".datepicker").datepicker({
            numberOfMonths: 1,
            changeMonth: true,
            dateFormat: "dd-M-y",
            changeYear: true
        });
    });

    function btnDischarge1(ele) {
        var dataRow = $('#grdBlockPackage1').DataTable().row($(ele).closest('tr')).data();
        arrDischargePackage.push({
            urn: dataRow.urn,
            memberID: dataRow.memberID,
            transactionID: dataRow.transactionID,
            hospitalCode: dataRow.hospitalCode
        });
        localStorage.setItem('DischargePackage', JSON.stringify(arrDischargePackage));
        window.location.href = "@Url.Action("ViewDischarge", "Discharge")";
    }
</script>

<script>
    // breadcrumb active & menu active
    $(document).ready(function () {
        loadNavigation('AddDischarge', 'Mldischarge', 'pl', 'Discharge', 'Add Discharge', '');
    });
</script>


